<div class="container">
    <div class="sub-container">
<h1>Experimental Musical Instruments</h1>
<p>Hi!  We've recently moved to a new URL, you can find our new website at <a href="http://www.umprojectmusic.com">www.umprojectmusic.com</a>.</p>
<a href="http://www.umprojectmusic.com"><div class="button"><span>Go to the new site</span></div></a>
</div>
</div>